<% provide(:title, "About") %> <!--đặt giá trị cho biến title là "Home" thường provide đc đưatj trong view để cung cấp giá trị tiêu đề cho trang đó -->
<h1>About</h1>
<p>
Get About on the Ruby on Rails Tutorial 
</p>