<% provide(:title, "Get All") %>


    <div class="orelative overflow-x-auto">
      <table class="min-w-full border text-center text-sm font-light dark:border-neutral-500">
        <thead class="border-b font-medium dark:border-neutral-500">
          <tr>
            <th scope="col"
                class="border-r px-6 py-4 dark:border-neutral-500">
                    Name
                </th>
            <th scope="col"
                class="border-r px-6 py-4 dark:border-neutral-500">
                   Email
                </th>
          </tr>
        </thead>
        <tbody >
          <% @user.each do |user| %>
            <tr class="border-b dark:border-neutral-500">
              <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"><%= user.name %></td>
              <td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"><%= user.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
