<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <small>
      The <a href="https://www.railstutorial.org/" class="text-muted">Ruby on Rails Tutorial</a>
      by <a href="https://www.michaelhartl.com/" class="text-muted">Michael Hartl</a>
    </small>
    <nav>
      <ul class="list-unstyled d-flex">
        <li><%= link_to "About", '#', class: "text-muted me-3" %></li>
        <li><%= link_to "Contact", '#', class: "text-muted me-3" %></li>
        <li><a href="https://news.railstutorial.org/" class="text-muted">News</a></li>
      </ul>
    </nav>
  </div>
</footer>
